@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* color */
.komola{
    color: #FF900E !important;
}
.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272 !important; 
}
.baground-1{
   background-color: rgba(255, 144, 14, 0.1);
}

/* header */
/* navber related style */

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navber{
    display:flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-links{
    display: flex;
}
.nav-link{
    text-decoration: none;
    margin-right: 25px;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}
.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.benner-description{

}
.button1{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;

}
.bannet-image{
    width: 100%;
}


/* mmin */

main{
    max-width: 1440pc;
    margin: 0 auto;
    margin-top: 130px;
}
.team{
    display: flex;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.feture{
    margin-left: 73px;
    max-width: 573px;
}
.feture-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick1{
    font-weight: 500;
}
.feture-discription{
   padding-top: 24px !important;
   font-size: 1rem !important;
}
/* loar mean */

#fah{
    font-size: 1rem;
}

/* responsibe media quary */

@media screen and (max-width: 576px) {
    .navber ,
    .nav-item , 
    .nav-link,
     .team{
        flex-direction: column;
    }
    
}
@media screen and (max-width:576px){
   .team-image{
    grid-template-columns: repeat(1,1fr);
   }
   .feture{
    margin-left: 20px;
   }
}

/* mediam dibaice */

@media screen and (min-width:576px) and (max-width:992px){
    .team{
        flex-direction: column;
    }
    .feture{
        margin: 30px auto;
    }
}

